[Unit]
Description=Polkadot Blockchain Prep
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/blockchain_sync.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target